#about img {
    min-width: 150px;
    max-width: 170px;
    border-radius: 5px; 
    box-shadow: 9px 9px 9px 1px rgb(8, 59, 81);;
}
.about-image-container {
    text-align: center;
    width: 100%;
}

#about h4 {
    margin-top: 40px;
}
.skills-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.skill {
    margin: 5px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 10px;
}

