
.about-image-container {
    text-align: center;
    width: 100%;
}

#about h4 {
    margin-top: 40px;
}
.skills-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.skill {
    margin: 5px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 10px;
}


.fas.arrow {
    width: 50px;
    font-size: 3em;
    position: relative;
}
.fas.arrow:hover {
    cursor: pointer;
    font-size: 3.2em;
}

@media screen and (max-width: 500px){
    .fas.arrow{
        width: 20px;
        font-size: 2.2em;
    }
    .fas.arrow:hover {
        font-size: 2.4em;
    }
}

.show {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.hide {
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
