#about img {
    min-width: 200px;
    max-width: 500px;
    border-radius: 10px; 
}
.image-container {
    text-align: center;
    width: 100%;
}

.skills-container {
    display: flex;
}
.skills-container *::before {
    content: '|'
}

