html {
  font-family: 'Montserrat', sans-serif;
  color: #413f3f;
  /* background-color: rgb(255,255,0); */
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: touch; */
  letter-spacing: 0px;
  

}
::selection {
  background:  rgb(25, 75, 141);
  color: white;
}

 ul, li, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
 }
 ul {
   list-style: none;
 }
 li {
   margin: 5px;
 }

 a { 
  text-decoration: none;

}
/* Change Button for Canvas */

#changeCanvas {
  z-index: 3;
  position: absolute;
  top: calc(100% / 2 - 18px);
  left: calc(100% - 40px);
  border: none;
  margin: 0;
  padding: 10px;
  color: rgb(255, 255, 0);
  font-size: 22px;
  overflow: visible;
  border-radius: 10px;
  background: rgba(25, 75, 141, .6);
  /* background: transparent; */
}
#changeCanvas:hover{
  cursor: pointer;
  background: rgb(255, 255, 0);
  background: rgba(25, 75, 141, 1);
}

/*  STANDARDS    */

/*        H3 Section Titles     */ 

h2 {
  font-size: 2em;
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 255, 0);
  color: rgba(25, 75, 141, 1);
  transform: rotate(355deg);
  margin: 0px 0px 25px 0px;
}

@import url('https://fonts.googleapis.com/css?family=Lexend+Tera&display=swap');
/*        SECTION        */
.container {
  font-family: 'Lexend Tera', sans-serif;
  /* background-color: rgba(25, 75, 141, 1); */
  /* background-image: linear-gradient(to right, rgba(45, 90, 121, .4), rgba(217, 219, -51, .4)); */
}
.section {
  /* color: rgb(255, 255, 0); */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 10px 10px;
  position: relative;
  animation: fadein .5s;
  background-color: rgba(255,255,255,.8);
  padding: 30px;
  min-height: 100vh; 
  max-width: 1050px;
  margin: 10px auto;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(45, 90, 121, .4), rgba(217, 219, -51, .4));
 
}

.section p {
  font-size: 1.5em;
}
@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



/*        FOOTER           */

.footer {
  margin: 20px 0px;
  position: relative;
  width: 100%;
  padding: 0;
  text-align: center;
}
.footer h6 {
  font-weight: 100;
  color: #706f6f;
  /* color: white; */
  margin: 0;
  padding: 0;
}






.change-colors {
  border: none;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top : 300px;
  z-index: 3;
}
.change-colors:hover {
  cursor: pointer;
}