@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#greeting {
    color: white;
    text-shadow: 2px 2px 20px rgb(25, 75, 141);
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
}

.greeting-container {
    width: 100%;
    height: 50vh;
    /* background: rgb(25, 75, 141); */
    background: #413f3f;
    display: flex;
    align-items: center;
    justify-content: center;
}


