.nav {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    font-size: .85rem;
    color: white;
  }
  
  
  .nav a {
    /* color: rgb(25, 75, 141); */
    padding: .5rem .6rem;
    display: block;
    margin: 5px .1rem;
  }
  
  
  .nav .nav-container {
    display: flex;
    align-items: center
  }
  
  .nav .nav-container {
    
    margin: auto;
    padding: 0 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .nav .nav-container .brand {
    border-bottom: 2px solid rgba(205, 227, 37,0);
    font-weight: 600
  }
  
  .nav .nav-container .brand a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    font-size: .95rem;
    padding: 20px 0px;
    color: white;
  }
  .extra a {
    color: rgb(25, 75, 141);
    border-bottom: 2px solid rgba(205, 227, 37,0);
  }
  .nav .nav-container .brand a:hover, .nav .nav-container .extra a:hover {
    color: rgb(205, 227, 37);
    background: 0 0!important;
    border-bottom: 2px solid rgb(205, 227, 37);
  }
  .nav .nav-container .brand span {
    margin-left: .5rem
  }
  
  .nav .nav-container .extra {
    font-size: 1rem;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
  }
  .nav .nav-container .extra a {
    margin: 0;
  }
 
  .nav .nav-container .links {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-pack: center;
    justify-content: center
  }
  
  .nav .nav-container .links a {
    font-size: 1rem;
    margin-right: .8rem
  }
  
  

  @media(min-width: 700px) {
    .nav a.nav-icon {
        padding:.8rem .6rem
    }
  
    .nav .nav-container .links {
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: .5rem 0;
    }
  
    .nav .nav-container .links a {
        font-size: 1.1rem;
    }
  
  
    .nav .nav-container .brand a {
        margin-top: .5rem;
        font-size: 1.1rem
    }
  
    .nav .nav-container .extra a {
        font-size: 1.1rem
    }

  }
  
  @media(min-width: 850px) {
    .nav {
        font-size:2.1rem;
        height: 80px;
    }
  
    .nav .nav-container .brand {
        margin-right: .5rem
    }
  
    .nav .nav-container .brand a {
        margin-top: 5px;
        font-size: 1.9rem;
    }
  
    .nav a {
        padding: .8rem 1rem
    }
  
    .nav a.nav-icon {
        padding: .8rem
    }
  
  
    .nav .nav-container {
        height: 70px
    }
  
    .nav .nav-container .links {
        width: auto;
        -ms-flex-order: 0;
        order: 0;
        margin: 0
    }
  
    .nav .nav-container .extra {
        font-size: 2.1rem;
    }
  }