.nav {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    font-size: .85rem;
    background: rgb(8, 59, 81);;
    /* background-image: url('../images/trees.jpg');
    background-size: cover;
    background-repeat: no-repeat;  */
 
  }

  /* rgb(205, 227, 37) */

  /* 255,255,0 */
  .nav a {
    padding: 15px;
    display: block;
    margin: 5px;
    
 
  }
  
  
  .nav-container {
    display: flex;
    align-items: center
  }
  
  .nav-container {
    margin: auto;
    padding: 0 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 600;
  }
  
 
  .nav-container .brand a {
    padding: 10px;
    font-size: .95rem;
  }
  .brand a, .social a {
    color: rgb(8, 59, 81);
    border-top: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(205, 227, 37,0);
    opacity: .9;
  }
  .nav-container .brand a:hover, .nav-container .social a:hover {
    border-bottom: 2px solid rgb(8, 59, 81);
    border-top: 2px solid rgb(8, 59, 81);
  }
 
  .nav-container .social {
    font-size: 1rem;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
    padding: 5px;
  }
  .nav-container .social a {
    margin: 0;
    padding: 10px;
  }
 
  .nav-container .links {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-pack: center;
    justify-content: center
  }
  
  .nav-container .links a {
    font-size: 1rem;
    margin-right: .8rem
  }
  
  .brand, .social {
    border-radius: 2px;
    background-color: white;
  }

  @media(min-width: 700px) {
    a.nav-icon {
        padding:.8rem .6rem
    }
  
    .nav-container .links {
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: .5rem 0;
    }
  
    .nav-container .links a {
        font-size: 1.1rem;
    }
  
  
    .nav-container .brand a {
        margin-top: .5rem;
        font-size: 1.1rem
    }
  
    .nav-container .social a {
        font-size: 1.1rem
    }

  }
  
  @media(min-width: 850px) {
    .nav {
        font-size:2.1rem;
        
    }
  
    .nav-container .brand {
        margin-right: .5rem
    }
    .nav-container .social {
      margin-top: 15px;
    }
    .nav-container .brand a, .nav-container .social a {
        margin-top: 5px;
        font-size: 1.9rem;
    }
  
    a {
        padding: .8rem 1rem
    }
  
    a.nav-icon {
        padding: .8rem
    }
  
  
 
  
    .nav-container .links {
        width: auto;
        -ms-flex-order: 0;
        order: 0;
        margin: 0
    }
  
    .nav-container .social {
        font-size: 2.1rem;
    }
  }