.jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100vh;
    margin: 0px;
    color: rgba(25, 75, 141, 1);
    position: relative;
}

.jumbo p {
    font-size: 2.5vw;
}
.jumbo > *{ 
    transform: rotate(355deg);
}
.jumbo ul li a {
    padding: 10px;
    color:rgba(25, 75, 141, 1);
    letter-spacing: .25em;
    /* border-radius: 10px; */
    box-shadow: 
        0px 21px 10px -20px rgba(25, 75, 141, 1) inset,
        0px -21px 10px -20px rgba(25, 75, 141, 1) inset;
}
.jumbo h1 {
    letter-spacing: 8px;
    font-size: 16px;
    font-size: 7vw;
    border-radius: 10px;
    padding: 10px; 
}

.jumbo ul {
    display: flex;
    margin-top: 40px;
}
.jumbo ul li a:hover {
    box-shadow: 
        0px 21px 10px -20px rgba(25, 75, 141, 1),
        0px -21px 10px -20px rgba(25, 75, 141, 1);
}
.jumbo ul a{
    padding: 10px 10px;
    margin: 20px;
    display: inline;
    font-size: 3vw;
    border-bottom: 4px solid rgba(205, 227, 37, 0);
}
@keyframes setBackground {
    from {
        text-shadow: 0px 0px 3px #194b8d;
    }
    to {
        text-shadow: 0px 0px 3px #194b8d;
    }
}
@keyframes setUnderline {
    from {
        border-bottom: 2px solid rgb(205, 227, 37);
    }
    to {
        border-bottom: 2px solid rgb(205, 227, 37);
    }
}

