.jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /* height: 300px; */
    margin: 0px auto 20px auto;
    
    color: rgb(8, 59, 81);
    position: relative;
    /* background-image: linear-gradient(to right, rgba(45, 90, 121, 1), rgba(217, 219, -51, 1)); */

    height: 100vh;
  


}
.inner-jumbo {
    padding: 15px;
    width: 100%;
    color: var(--primary-lightblue);
  /* border-radius: 5px; */
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 1;
}
.jumbo ul li a {
    margin: 5px;
    padding-bottom: 0px;
}
.jumbo h1 {
    letter-spacing: 2px;
    font-size: 26px;
    /* font-size: 7vw; */
    border-radius: 10px;
    padding: 10px; 
}

.jumbo nav {
    color: #FFF;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0);
    transition: box-shadow,background-color .25s ease-in;


}
.jumbo nav ul li a{
    color: #fff;
}
.jumbo nav.reveal ul li a {
    color: black;
}
.jumbo nav.reveal {
    background-color: rgba(255,255,255,.8);
    color: rgb(0, 0, 0);

    box-shadow: 0px 0px 2px rgba(25, 75, 141, 1);
}
.jumbo ul {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 30px; */
    justify-content: flex-end;
}
#nav ul li a {
    margin: 0 15px;
    padding: 0;
    transition: border-bottom .25s ease-in-out;
}
.jumbo ul li a:hover {
    border-bottom: 2px solid rgb(8, 59, 81);
}
.jumbo ul a{
    padding: 10px 10px;
    margin: 20px;
    display: inline;
    border-bottom: 2px solid rgba(205, 227, 37, 0);
}

.jumbo ul a.active {
    border-bottom: 2px solid rgb(8, 59, 81);
}

@keyframes setBackground {
    from {
        text-shadow: 0px 0px 3px #194b8d;
    }
    to {
        text-shadow: 0px 0px 3px #194b8d;
    }
}
@keyframes setUnderline {
    from {
        border-bottom: 2px solid rgb(205, 227, 37);
    }
    to {
        border-bottom: 2px solid rgb(205, 227, 37);
    }
}

a.nav-icon {
    transition: transform .25s ease-in-out;
    font-size: 32px;
}
a.nav-icon:hover {
    transform: rotate(45deg);
}

@media (max-width: 499px){
    #nav ul li a {
        margin: 0 5px;
        font-size: .7em;
    }
}
