.mountains-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: .8; /* default: .8 */
    overflow: hidden;
    z-index: 0; /* default: 0 */
    pointer-events: none; 
}
.mountain {
    position: absolute;
    display: inline-block;
    bottom: -18px;
    
    box-shadow: 0px 0px 10px black;
}



/* Mountain Group 1 -- Furthest back mountains */
.mountain-group1 {
    position: absolute;
    /* right: 0px; */
    bottom: -20px;
    width: 100%;
    /* height: 50px; */
    z-index: 0;
}

.mountain-group1 .mountain {
    width: calc(100vw / 4);
    background: rgb(110, 197, 238);
    border-radius: 150px 150px 0px 0px; 
}
.mountain-group1 .mt1 {
    height: calc(100vh / 1.25);
    left: 100px;
    z-index: 1;
}
.mountain-group1 .mt2 {
    height: calc(100vh / 1.75);
    left: 250px;
    z-index: 2;
}
.mountain-group1 .mt3 {
    height: calc(100vh / 1.45);
    left: calc(100% - 200px);
    z-index: 2;
}
.mountain-group1 .mt4 {
    height: calc(100vh / 1.20);
    left: calc(100% - 20px);
    z-index: 1;
}


/* MOUNTAIN GROUP 2 -- CLOSEST MOUNTAINS -- MOVES FASTEST */

.mountain-group2 {
    position: absolute;
    width: 100%;
    bottom: -20px;
    z-index: 1;
}
.mountain-group2 .mountain {
    width: calc(100vw / 2);
    background: rgb(116, 88, 12);
    border-top: 10px solid rgb(15, 110, 6);
    border-radius: 25px;

}
.mountain-group2 .mt11 {
    height: calc(100vh / 5);
    left: -15px;
    z-index: 1;
}
.mountain-group2 .mt21 {
    height: calc(100vh / 4);
    left: 250px;
    z-index: 2;
}
.mountain-group2 .mt31 {
    height: calc(100vh / 3.85);
    left: calc(100% - 125px);
    z-index: 1;
}
.mountain-group2 .mt41 {
    height: calc(100vh / 5.50);
    left: calc(100% + 300px);
    z-index: 2;
}

/* MEDIA QUERIES */
@media (orientation: portrait){

    /* MTG1 */
    .mountain-group1 .mountain {
        width: calc(100vw / 3);
    }
    .mountain-group1 .mt1 {
        left: 50px;
    }
    .mountain-group1 .mt2 {
        left: 150px;
    }
    .mountain-group1 .mt3 {
        left: calc(100% - 70px);
    }
    .mountain-group1 .mt4 {
        left: calc(100% + 60px);
    }

    /* MTG 2 */
    .mountain-group2 .mountain {
        width: calc(100vw / 2);
    }
    .mountain-group2 .mt11 {
        left: 0px;
    }
    .mountain-group2 .mt21 {
        left: 150px;
    }
    .mountain-group2 .mt31 {
        left: 450px;
    }
    .mountain-group2 .mt41 {
        left: 650px;
    }
}