.project-container {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    /* border: 2px solid rgb(8, 59, 81); */
    /* background-color: white;  */
    text-align: center;
    box-shadow: 2px 2px 4px 1px rgb(8, 59, 81);

}
.project-container h3 {
    text-align: left;
    color: rgb(8, 59, 81);
    text-decoration: underline;
    text-decoration-color: rgb(255,255,0);
}
.project-container a {
    text-decoration: underline;
    text-decoration-color: rgba(255,255,0,0);
    color: rgb(8, 59, 81);
}
.project-container a:hover {
    text-decoration-color: rgb(255,255,0);
}

.project-container p {
    /* border-bottom: 1px solid rgb(8, 59, 81); */
    font-size: 1em !important;
}
.project-container img {
    max-width: 350px;
    max-height: 400px;
    min-height: 220px;
    width: 80%;
    border-radius: 10px;
    opacity: .8; 
    box-shadow: 0px 0px 8px 2px rgb(8, 59, 81);
}

.-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.-container > p {
    flex: 1;
}
.-container > div {
    flex: 1;
}

.image-container > *{
    display: block;
}

@media screen and (max-width: 690px){
    .-container {
        display: block;
    }
}